.container {
  padding: 0 2rem;
}

.contenedor-producto{
  border: solid;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.contenedorImagen{
  width: 400px;
  height: 400px;
  object-fit: cover;
  flex: 1;
}